<!DOCTYPE html>
<html>
<head>
    <title>Example Title</title>
</head>
<body>
    <div id="content"></div>
    <script src="~/public/base.bundle.js"></script>
    @RenderBody()
</body>
</html>